<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.by.xiceos.dao.ContentsDao">
    <sql id="table_name">
        blog_contents
    </sql>

    <sql id="table_column">
        `cid`, `title`, `slug`, `created`, `modified`, `text`, `order`, `authorid`, `template`, `type`, `status`, `password`, `commentsnum`, `allowcomment`, `allowping`, `allowfeed`, `parent`
    </sql>

    <!-- 数据插入 -->
    <insert id="insert" parameterType="top.by.xiceos.vo.Contents">
        INSERT INTO
        <include refid="table_name"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cid != null">
                `cid`,
            </if>
            <if test="title != null">
                `title`,
            </if>
            <if test="slug != null">
                `slug`,
            </if>
            <if test="created != null">
                `created`,
            </if>
            <if test="modified != null">
                `modified`,
            </if>
            <if test="text != null">
                `text`,
            </if>
            <if test="order != null">
                `order`,
            </if>
            <if test="authorid != null">
                `authorid`,
            </if>
            <if test="template != null">
                `template`,
            </if>
            <if test="type != null">
                `type`,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="password != null">
                `password`,
            </if>
            <if test="commentsnum != null">
                `commentsnum`,
            </if>
            <if test="allowcomment != null">
                `allowcomment`,
            </if>
            <if test="allowping != null">
                `allowping`,
            </if>
            <if test="allowfeed != null">
                `allowfeed`,
            </if>
            <if test="parent != null">
                `parent`,
            </if>
        </trim>
        <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
            <if test="cid != null">
                #{cid},
            </if>
            <if test="title != null">
                #{title},
            </if>
            <if test="slug != null">
                #{slug},
            </if>
            <if test="created != null">
                #{created},
            </if>
            <if test="modified != null">
                #{modified},
            </if>
            <if test="text != null">
                #{text},
            </if>
            <if test="order != null">
                #{order},
            </if>
            <if test="authorid != null">
                #{authorid},
            </if>
            <if test="template != null">
                #{template},
            </if>
            <if test="type != null">
                #{type},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="password != null">
                #{password},
            </if>
            <if test="commentsnum != null">
                #{commentsnum},
            </if>
            <if test="allowcomment != null">
                #{allowcomment},
            </if>
            <if test="allowping != null">
                #{allowping},
            </if>
            <if test="allowfeed != null">
                #{allowfeed},
            </if>
            <if test="parent != null">
                #{parent},
            </if>
        </trim>
    </insert>

    <!-- 数据删除 -->
    <delete id="delete" parameterType="java.lang.Long">
        DELETE FROM
        <include refid="table_name"/>
        WHERE
        cid = #{cid}
    </delete>

    <!-- 数据修改 -->
    <update id="update" parameterType="top.by.xiceos.vo.Contents">
        UPDATE            <include refid="table_name"/>
        <trim prefix="set" suffixOverrides=",">
              <if test="cid != null">
                `cid` = #{cid},
              </if>
              <if test="title != null">
                `title` = #{title},
              </if>
              <if test="slug != null">
                `slug` = #{slug},
              </if>
              <if test="created != null">
                `created` = #{created},
              </if>
              <if test="modified != null">
                `modified` = #{modified},
              </if>
              <if test="text != null">
                `text` = #{text},
              </if>
              <if test="order != null">
                `order` = #{order},
              </if>
              <if test="authorid != null">
                `authorid` = #{authorid},
              </if>
              <if test="template != null">
                `template` = #{template},
              </if>
              <if test="type != null">
                `type` = #{type},
              </if>
              <if test="status != null">
                `status` = #{status},
              </if>
              <if test="password != null">
                `password` = #{password},
              </if>
              <if test="commentsnum != null">
                `commentsnum` = #{commentsnum},
              </if>
              <if test="allowcomment != null">
                `allowcomment` = #{allowcomment},
              </if>
              <if test="allowping != null">
                `allowping` = #{allowping},
              </if>
              <if test="allowfeed != null">
                `allowfeed` = #{allowfeed},
              </if>
              <if test="parent != null">
                `parent` = #{parent},
              </if>
        </trim>
        WHERE
            cid = #{cid}
    </update>

    <!-- 数据查询 单条数据 -->
    <select id="findById" parameterType="java.lang.Long" resultType="top.by.xiceos.vo.Contents">
        SELECT
            <include refid="table_column"/>
        FROM
            <include refid="table_name"/>
        WHERE
            cid = #{cid}
    </select>

    <!-- 数据查询 多条数据 -->
    <select id="findByIds" resultType="top.by.xiceos.vo.Contents">
        SELECT
            <include refid="table_column"/>
        FROM
            <include refid="table_name"/>
        WHERE
        cid IN
        <foreach collection="array" open="(" separator="," close=")" item="id">
            #{id}
        </foreach>
    </select>

    <!-- 查询数据 全部 -->
    <select id="findAll" resultType="top.by.xiceos.vo.Contents">
        SELECT
            <include refid="table_column"/>
        FROM
            <include refid="table_name"/>
    </select>

</mapper>