<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.by.xiceos.dao.MetasDao">
    <sql id="table_name">
        blog_metas
    </sql>

    <sql id="table_column">
        `mid`, `name`, `slug`, `type`, `description`, `count`, `order`, `parent`
    </sql>

    <!-- 数据插入 -->
    <insert id="insert" parameterType="top.by.xiceos.vo.Metas">
        INSERT INTO
        <include refid="table_name"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="mid != null">
                `mid`,
            </if>
            <if test="name != null">
                `name`,
            </if>
            <if test="slug != null">
                `slug`,
            </if>
            <if test="type != null">
                `type`,
            </if>
            <if test="description != null">
                `description`,
            </if>
            <if test="count != null">
                `count`,
            </if>
            <if test="order != null">
                `order`,
            </if>
            <if test="parent != null">
                `parent`,
            </if>
        </trim>
        <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
            <if test="mid != null">
                #{mid},
            </if>
            <if test="name != null">
                #{name},
            </if>
            <if test="slug != null">
                #{slug},
            </if>
            <if test="type != null">
                #{type},
            </if>
            <if test="description != null">
                #{description},
            </if>
            <if test="count != null">
                #{count},
            </if>
            <if test="order != null">
                #{order},
            </if>
            <if test="parent != null">
                #{parent},
            </if>
        </trim>
    </insert>

    <!-- 数据删除 -->
    <delete id="delete" parameterType="java.lang.Long">
        DELETE FROM
        <include refid="table_name"/>
        WHERE
        mid = #{mid}
    </delete>

    <!-- 数据修改 -->
    <update id="update" parameterType="top.by.xiceos.vo.Metas">
        UPDATE            <include refid="table_name"/>
        <trim prefix="set" suffixOverrides=",">
              <if test="mid != null">
                `mid` = #{mid},
              </if>
              <if test="name != null">
                `name` = #{name},
              </if>
              <if test="slug != null">
                `slug` = #{slug},
              </if>
              <if test="type != null">
                `type` = #{type},
              </if>
              <if test="description != null">
                `description` = #{description},
              </if>
              <if test="count != null">
                `count` = #{count},
              </if>
              <if test="order != null">
                `order` = #{order},
              </if>
              <if test="parent != null">
                `parent` = #{parent},
              </if>
        </trim>
        WHERE
            mid = #{mid}
    </update>

    <!-- 数据查询 单条数据 -->
    <select id="findById" parameterType="java.lang.Long" resultType="top.by.xiceos.vo.Metas">
        SELECT
            <include refid="table_column"/>
        FROM
            <include refid="table_name"/>
        WHERE
            mid = #{mid}
    </select>

    <!-- 数据查询 多条数据 -->
    <select id="findByIds" resultType="top.by.xiceos.vo.Metas">
        SELECT
            <include refid="table_column"/>
        FROM
            <include refid="table_name"/>
        WHERE
        mid IN
        <foreach collection="array" open="(" separator="," close=")" item="id">
            #{id}
        </foreach>
    </select>

    <!-- 查询数据 全部 -->
    <select id="findAll" resultType="top.by.xiceos.vo.Metas">
        SELECT
            <include refid="table_column"/>
        FROM
            <include refid="table_name"/>
    </select>

</mapper>