<!DOCTYPE html>
<html lang="cn" xmlns:th="http://www.thymeleaf.org">
<body>
    <aside th:fragment="aside" class="main-sidebar">
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img th:src="@{/static/image/user2-160x160.jpg}" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>用户名称</p>
                    <a href="#"><i class="fa fa-circle text-success"></i> 在线状态</a>
                </div>
            </div>
            <!-- 搜索表单 暂时不用 -->
            <!--<form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
                </div>
            </form>-->
            <!-- /.search form -->
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header">主要功能</li>
                <li class="treeview">
                    <a href="javascript:void(0);">
                        <i class="fa fa-dashboard"></i> <span>控制台</span>
                        <span class="pull-right-container">
                              <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li id="console-index">  <a data-pjax="true" th:href="@{/admin/console/index}">  <i class="fa fa-circle-o"></i> 概要</a></li>
                        <li id="console-profile"><a data-pjax="true" th:href="@{/admin/console/profile}"><i class="fa fa-circle-o"></i> 个人设置</a></li>
                        <li id="console-plugins"><a data-pjax="true" th:href="@{/admin/console/plugins}"><i class="fa fa-circle-o"></i> 插件</a></li>
                        <li id="console-themes"> <a data-pjax="true" th:href="@{/admin/console/themes}"> <i class="fa fa-circle-o"></i> 外观</a></li>
                        <li id="console-backup"> <a data-pjax="true" th:href="@{/admin/console/backup}"> <i class="fa fa-circle-o"></i> 备份</a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-pencil-square-o"></i> <span>撰写</span>
                        <span class="pull-right-container">
                              <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li id="write-post"><a data-pjax="true" th:href="@{/admin/write/post}"><i class="fa fa-circle-o"></i> 撰写文章</a></li>
                        <li id="write-page"><a data-pjax="true" th:href="@{/admin/write/page}"><i class="fa fa-circle-o"></i> 创建页面</a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-navicon"></i> <span>管理</span>
                        <span class="pull-right-container">
                              <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li id="manager-posts">     <a data-pjax="true" th:href="@{/admin/manager/posts}">     <i class="fa fa-circle-o"></i> 文章</a></li>
                        <li id="manager-pages">     <a data-pjax="true" th:href="@{/admin/manager/pages}">     <i class="fa fa-circle-o"></i> 独立页面</a></li>
                        <li id="manager-comments">  <a data-pjax="true" th:href="@{/admin/manager/comments}">  <i class="fa fa-circle-o"></i> 评论</a></li>
                        <li id="manager-categories"><a data-pjax="true" th:href="@{/admin/manager/categories}"><i class="fa fa-circle-o"></i> 分类</a></li>
                        <li id="manager-tags">      <a data-pjax="true" th:href="@{/admin/manager/tags}">      <i class="fa fa-circle-o"></i> 标签</a></li>
                        <li id="manager-medias">    <a data-pjax="true" th:href="@{/admin/manager/medias}">    <i class="fa fa-circle-o"></i> 文件</a></li>
                        <li id="manager-users">     <a data-pjax="true" th:href="@{/admin/manager/users}">     <i class="fa fa-circle-o"></i> 用户</a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-cog"></i> <span>设置</span>
                        <span class="pull-right-container">
                              <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li id="setup-general">   <a data-pjax="true" th:href="@{/admin/setup/general}">   <i class="fa fa-circle-o"></i> 基本</a></li>
                        <li id="setup-discussion"><a data-pjax="true" th:href="@{/admin/setup/discussion}"><i class="fa fa-circle-o"></i> 评论</a></li>
                        <li id="setup-reading">   <a data-pjax="true" th:href="@{/admin/setup/reading}">   <i class="fa fa-circle-o"></i> 阅读</a></li>
                        <li id="setup-permalink"> <a data-pjax="true" th:href="@{/admin/setup/permalink}"> <i class="fa fa-circle-o"></i> 永久链接</a></li>
                    </ul>
                </li>

                <li><a href="#"><i class="fa fa-book"></i> <span>文档</span></a></li>
                <li class="header">LABELS</li>
                <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
                <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
                <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>
            </ul>
        </section>
        <script>
            /* 绑定jquery.pjax点击事件 */
            $(document).pjax("[data-pjax='true'], a[data-pjax='true']", ".content-wrapper", {
                fragment: '.content-wrapper'
            });

            $(document).on('pjax:send', function () {
            });

            $(document).on('pjax:complete', function (resultData) {
                showClickMenu();
            });

            /* 绑定jquery.load点击事件 */
            $("[data-locad='true']").each(function () {
                var href = $(this).attr('href');
                $(this).attr('load-url', href);
                $(this).attr('href', 'javascript:;');
                $(this).click(function () {
                    $('.content-wrapper').load(href + ' .content-wrapper>', function (resultData) {
                        $result = $(resultData);
                        $result.find('script').appendTo('.content-wrapper');
                        showClickMenu();
                    })
                });
            });

            /**
             * 选中点击的菜单
             *
             * 需要在每个页面中有一个变量(var clickMenuName = )
             */
            function showClickMenu() {
                $(".sidebar-menu").find("li").each(function(){
                    $(this).removeClass("active");
                });

                $("#" + clickMenuName).addClass("active");
                var parentMenu = $("#" + clickMenuName).parent().parent();
                if(parentMenu.hasClass("treeview")){
                }else{
                    parentMenu = parentMenu.parent().parent();
                }
                parentMenu.addClass("active");
            }
        </script>
    </aside>
</body>
</html>
