<?xml version="1.0" encoding="UTF-8"?>
<!-- 测试用日志: logback-test.xml解决Could NOT find resource [logback-test.xml] -->
<!-- 测试用日志: debug="true"解决debug attribute not set  -->
<configuration scan="true" scanPeriod="60 seconds" debug="true">

    <!-- 名称 ✌xiceos-blog-test💎 -->
    <contextName>✌xiceos-blog-test💎</contextName>

    <!--输出到控制台 ConsoleAppender-->
    <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
        <!--展示格式 layout-->
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %contextName ●%thread● ⛅%-5level🌧 %replace(%caller{1}){'\t|Caller.{1}0|\r\n', ''} - %m%n</pattern>
            </pattern>
        </layout>
        <!--
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
             <level>ERROR</level>
        </filter>
         -->
    </appender>

    <!--指定最基础的日志输出级别 -->
    <root level="INFO">
        <appender-ref ref="consoleLog" />
    </root>
</configuration>