<!DOCTYPE html>
<html lang="cn" xmlns:th="http://www.thymeleaf.org">
<head th:include="admin/commons/head::head('XBLOG | 后台')"></head>
<body class="hold-transition skin-blue fixed sidebar-mini inner">
<div class="wrapper">
    <!-- 顶部 -->
    <header th:include="admin/commons/header::header" class="main-header"></header>
    <!-- 左侧导航 -->
    <aside th:include="admin/commons/aside::aside" class="main-sidebar"></aside>

    <!-- 局部刷新 -->
    <div class="content-wrapper">
        <!-- 导航条 -->
        <section class="content-header">
            <h1>
                <!--通知-->
                <small>这是一个通知（欢迎使用XBLOB）...</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 控制台</a></li>
                <li class="active"><a href="#">插件</a></li>
            </ol>
        </section>

        <!-- 主体 -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">插件管理</h3>

                            <div class="box-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                                    <div class="input-group-btn">
                                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <tr>
                                    <th>名称</th>
                                    <th>描述</th>
                                    <th>版本</th>
                                    <th>作者</th>
                                    <th>操作</th>
                                </tr>
                                <tr>
                                    <td>WYS</td>
                                    <td>模仿ACFUN通知条公告</td>
                                    <td>1.0.0</td>
                                    <td><span class="label label-success">阿硕</span></td>
                                    <td>
                                        <button type="button" class="btn btn-warning btn-xs">禁用</button>
                                        <button type="button" class="btn btn-success btn-xs">启用</button>
                                        <button type="button" class="btn btn-info    btn-xs">设置</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>HelloWorld</td>
                                    <td>Hello World</td>
                                    <td>1.0.0</td>
                                    <td><span class="label label-warning">qining</span></td>
                                    <td>
                                        <button type="button" class="btn btn-warning btn-xs">禁用</button>
                                        <button type="button" class="btn btn-success btn-xs">启用</button>
                                        <button type="button" class="btn btn-info    btn-xs">设置</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script>
            var clickMenuName = 'console-plugins';
        </script>
    </div>

    <!-- 底部 -->
    <footer th:include="admin/commons/footer::footer" class="main-footer"></footer>
</div>
</body>
</html>