<!DOCTYPE html>
<html lang="cn" xmlns:th="http://www.thymeleaf.org">
<head th:include="admin/commons/head::head('XBLOG | 分类')"></head>
<body class="hold-transition skin-blue fixed sidebar-mini inner">
<div class="wrapper">
    <!-- 顶部 -->
    <header th:include="admin/commons/header::header" class="main-header"></header>
    <!-- 左侧导航 -->
    <aside th:include="admin/commons/aside::aside" class="main-sidebar"></aside>

    <!-- 局部刷新 -->
    <div class="content-wrapper">
        <!-- 导航条 -->
        <section class="content-header">
            <h1>
                <!--通知-->
                <small>这是一个通知（欢迎使用XBLOB）...</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 管理</a></li>
                <li class="active"><a href="#">分类</a></li>
            </ol>
        </section>

        <!-- 主体 -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">分类管理</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body table-responsive no-padding">
                        </div>
                        <span class="help-block" style="color: red;"><i class="fa fa-bell-o"></i> 采用树形结构管理（未完成、采用JSTREE）</span>
                        <div id="category"></div>
                    </div>
                </div>
            </div>
        </section>
        <script>
            var clickMenuName = 'manager-categories';

            // 获取整个数
            var jsTree;

            $(function () {
                $.ajax({
                    type: 'GET',
                    url: '[[@{/admin/manager/getCategories}]]',
                    data: {'type': 'category'},
                    dataType: 'json',
                    success: function (jsTreeData) {
                        debugger;
                        if (jsTreeData.code == 200) {
                            $('#category').jstree({
                                plugins: ['checkbox', 'dnd', 'types'],
                                types: {
                                    'default': {
                                        'icon': 'fa fa-leaf'
                                    },
                                    'icon': {
                                        'icon': 'fa fa-leaf'
                                    }
                                },
                                core: {
                                    check_callback: true,
                                    data: jsTreeData.data
                                }
                            });
                            jsTree = $('#category').jstree(true);
                        } else {
                            layer.alert("分类树初始化失败");
                        }
                    }
                });

            });
        </script>
    </div>

    <!-- 底部 -->
    <footer th:include="admin/commons/footer::footer" class="main-footer"></footer>
</div>
</body>
</html>